@{
    ViewData["Title"] = "Matches";

    if (User.IsInRole("1"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if(User.IsInRole("0"))
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

@model homeHelper

<div class="text-center">
    <h1 class="display-4">Alle Matches</h1>
    @{ 
        int r = 0;
    }

    @foreach (var match in Model.Matches)
    {
        string datum = String.Format("{0:D}", match.datum);
        string uhrzeit = String.Format("{0:t}", match.uhrzeit);


        <div style="border-radius: 20px;" class="shadow p-3 mb-3 bg-white text-left">

        @{
            int i = 0;
        }
        @foreach (var mannschaft in Model.Mannschaften.Skip(r))
        {
            <div style="display: inline; font-size: 25px;">@mannschaft.name</div>
            if (i == 0)
            {
                <strong style="font-size: 25px;">  VS. </strong>
            }
            i++;
            if(i == 2)
            { 
                break;
            }
        }

        @{
            r += 2;
         }

        <br />
        <p style="font-size: 22.5px;"><strong>@match.ort</strong></p>
        <p style="font-size: 20px;"><strong>Halle: </strong>@match.hallenname</p>
        <p style="font-size: 20px;"><strong>Datum: </strong>@datum</p>
        <div class="d-flex justify-content-between">
            <a style="font-size: 20px;"><strong>Uhrzeit: </strong>@uhrzeit</a>
            <a asp-controller="Match" asp-action="DetailsMatch" asp-route-rowguid="@match.id_match" class="btn btn-primary">Match anzeigen</a>
        </div>
    </div>
    }
</div>