@{
    ViewData["Title"] = "Registrieren";
    Layout = "~/Views/Shared/_LayoutRegisterAndLogin.cshtml";
}

@model registerHelper

<div class="text-center container mb-5" style="margin-top: 8%;">
    <div class="row justify-content-around">
        <div style="border-radius: 15px;" class="shadow p-5 bg-white text-left">
            <a asp-controller="Home" asp-action="Index" class=""><i class="bi bi-arrow-left-circle" style="font-size: 25px;"></i></a><br />
            <strong style="font-size: 25px;">Registrieren</strong>
            <br />
            <br />
            <form method="post">
                <div class="form-row">
                    <div class="form-group col">
                        <input type="text" placeholder="Vorname" asp-for="Benutzer.vorname" class="form-control" />
                    </div>
                    <div class="form-group col">
                        <input type="text" placeholder="Nachname" asp-for="Benutzer.nachname" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input type="text" placeholder="Benutzername" asp-for="Benutzer.benutzername" class="form-control" />
                    </div>
                    <div class="form-group col">
                        <input type="password" placeholder="Passwort" asp-for="Benutzer.passwort" class="form-control" />
                    </div>
                </div>


                @foreach (var qualifikation in Model.Qualifikationen)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="qualifikation" id="@qualifikation.id_qualifikation" value="@qualifikation.id_qualifikation" onclick="toggleSelect()">
                        <label class="form-check-label" for="@qualifikation.id_qualifikation">@qualifikation.name</label>
                    </div>
                }



                <br />
                <br />
                <div class="form-group">
                    <select class="custom-select" id="mannschaft" name="mannschaft">
                        <option selected disabled>Mannschaft</option>
                        @foreach (var mannschaft in Model.Mannschaften)
                        {
                            <option value="@mannschaft.id_mannschaft">@mannschaft.name</option>
                        }
                    </select>
                </div>

                @if (ViewBag.RegisterError != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.RegisterError
                    </div>
                }

                @if (ViewData.ModelState.IsValid == false)
                {
                    <div asp-validation-summary="All" class="alert alert-danger" role="alert">

                    </div>
                }


                <div class="form-group">
                    <input type="submit" value="Registrieren" class="form-control btn btn-primary" />
                </div>
                <div>
                    Sie haben bereits ein Konto? <a asp-controller="Account" asp-action="Login">Melden Sie sich an!</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    window.onload = toggleSelect();

    function toggleSelect() {
        var isChecked = document.getElementById(3).checked;
        document.getElementById("mannschaft").disabled = !isChecked;
    }
</script>